<div class="sign-up">
  <h1>Sign up</h1>
  <p>Create an account an keep updated</p>
  <form>
    <input type="first-name" class="input-box" placeholder="First Name" />
    <input type="last-name" class="input-box" placeholder="Last Name" />
    <input type="email" class="input-box" placeholder="Email Address" />
    <input type="password" class="input-box" placeholder="Password" />
    <p>
      <span><input type="checkbox" /></span>I agree to terms & conditions
    </p>
    <button type="button" class="signup-btn">Create Account</button>
  </form>
</div>
<div class="signup-foot">
  <footer>
    <hr />
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/rentals">Rentals</a>
            <a class="nav-link" href="/sign-up">Sign-up</a>
            <a class="nav-link" href="/log-in">Log-in</a>
          </div>
        </div>
      </div>
    </nav>
    By submitting this assignment I declare that this assignment is my own work
    in accordance with the Seneca Academic Policy. <br />No part of this
    assignment has been copied manually or electronically from any other source
    (including web sites) or distributed to other students.
    <p>&copy Kester Bascillo, kbascillo@myseneca.ca, WEB322 Winter 2023</p>
    <div class="credits">
      <p>
        Credits:
        <a
          href="https://pixabay.com/users/paulbr75-2938186/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3123295"
          >Paul Brennan</a
        >
        <a
          href="https://pixabay.com/users/artisticoperations-4161274/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3248249"
          >F.Muhammad
        </a>
        <a
          href="https://pixabay.com/users/justoceuti-8259709/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4741595"
          >Jose Martinez Justo
        </a>
        <a
          href="https://pixabay.com/users/richardmc-1834381/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3115234"
          >Richard Mcall
        </a>
        <a
          href="https://pixabay.com/photos/cottage-trees-path-trail-house-2955582/"
          >Stanly
        </a>
      </p>
    </div>
    <div class="icons">
      <a href="https://www.facebook.com/">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://twitter.com">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://www.instagram.com">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.youtube.com">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
  </footer>
</div>
