<div class="banner2">
  <h1>Welcome to Libby's Rental</h1>
</div>
<div class="container3">
  <div class="about-us">
    <h3>Why should you choose us?</h3>
    <p>
      Thank you for signing up at Libby's Rental Properties. Our business aims
      at satisfying customers expectation and creating a hassle free experience.
      We are a brand new company and sometimes people can be picky at where to
      choose to book their vacation, but we have studied the market of all other
      reputable companies and we guarantee a smoother experience with quicker
      response time all the while keeping our prices at a much lower rate than
      our leading competitors, we have a vast range of other perks but we'll
      leave that up to you upon further inspection of our website. A plan to
      choose us is a plan you won't regret.
    </p>
    <button type="button" onclick="location.href='/'">Explore</button>
  </div>
</div>
<div class="welcome-foot">
  <footer>
    <hr />
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/rentals">Rentals</a>
            <a class="nav-link" href="/sign-up">Sign-up</a>
            <a class="nav-link" href="/log-in">Log-in</a>
          </div>
        </div>
      </div>
    </nav>
    By submitting this assignment I declare that this assignment is my own work
    in accordance with the Seneca Academic Policy. <br />No part of this
    assignment has been copied manually or electronically from any other source
    (including web sites) or distributed to other students.
    <p>&copy Kester Bascillo, kbascillo@myseneca.ca, WEB322 Winter 2023</p>
    <div class="credits">
      <p>
        Credits:
        <a
          href="https://pixabay.com/users/paulbr75-2938186/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3123295"
          >Paul Brennan</a
        >
        <a
          href="https://pixabay.com/users/artisticoperations-4161274/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3248249"
          >F.Muhammad
        </a>
        <a
          href="https://pixabay.com/users/justoceuti-8259709/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4741595"
          >Jose Martinez Justo
        </a>
        <a
          href="https://pixabay.com/users/richardmc-1834381/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3115234"
          >Richard Mcall
        </a>
        <a
          href="https://pixabay.com/photos/cottage-trees-path-trail-house-2955582/"
          >Stanly
        </a>
      </p>
    </div>
    <div class="icons">
      <a href="https://www.facebook.com/">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://twitter.com">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://www.instagram.com">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.youtube.com">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
  </footer>
</div>
