<div class="login">
  <h1>Welcome Back!</h1>
  <form method="post" action="/log-in">
    <input
      type="text"
      class="input-box"
      placeholder="Email Address"
      id="email"
      name="email"
      value="<%= values.email %>"
    />
    <% if(validation.email){ %>
    <span style="color: red"><%= validation.email %></span>
    <% } %>
    <input
      type="password"
      class="input-box"
      placeholder="Password"
      id="password"
      name="password"
      value="<%= values.password %>"
    />
    <% if(validation.password){ %>
    <span style="color: red"><%= validation.password %></span>
    <% } %>
      <div class="role-selection">
        <label>
          <input type="radio" name="role" value="clerk" checked>
          Clerk
        </label>
        <label>
          <input type="radio" name="role" value="customer">
          Customer
        </label>
      </div>
  
      <div class="login2">
        <button type="submit" class="login-btn">Login</button>
      </div>
  </form>
  </div>
</div>
