<div class="add-rentals">
  <h2>Add New Rental</h2>
</div>
<div class="form-container">
  <form action="/rentals/add" method="post" enctype="multipart/form-data">
    <label for="headline">Headline:</label>
    <input
      type="text"
      id="headline"
      name="headline"
      value="<%= values.headline %>"
      required
    />
    <% if(validation.headline) { %>
    <span style="color: red"><%= validation.headline %></span>
    <% } %>
    <br />

    <label for="numSleeps">Number of Sleeps:</label>
    <input
      type="number"
      id="numSleeps"
      name="numSleeps"
      min="0"
      max="100"
      required
    />
    <br />
    <label for="numBedrooms">Number of Bedrooms:</label>
    <input
      type="number"
      id="numBedrooms"
      name="numBedrooms"
      min="0"
      max="100"
      required
    />
    <br />
    <label for="numBathrooms">Number of Bathrooms:</label>
    <input
      type="number"
      id="numBathrooms"
      name="numBathrooms"
      min="0"
      max="100"
      required
    />
    <br />
    <label for="pricePerNight">Price per Night:</label>
    <input
      type="number"
      id="pricePerNight"
      name="pricePerNight"
      step="0.01"
      pattern="^\d+(\.\d{2})?$"
      required
    />
    <br />
    <label for="city">City:</label>
    <input type="text" id="city" name="city" required /> <br />

    <label for="city">Province:</label>
    <input type="text" id="province" name="province" required /> <br />

    <label for="imageUrl">Upload Image:</label>
    <input
      type="file"
      id="imageUrl"
      name="imageUrl"
      value=" <%= values.imageUrl %>"
      required
    />
    <% if(validation.imageUrl) { %>
    <span style="color: red"><%= validation.imageUrl %></span>
    <% } %>
    <br />
    <label for="featuredRentals">Featured Rental:</label>
    <input
      type="checkbox"
      id="featuredRentals"
      name="featuredRentals"
      value="true"
    /><br />

    <button type="submit">Add Rental</button> <br />
  </form>
</div>
<div class="add-foot">
  <footer>
    <hr />
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <% if(user) { %>
            <a class="nav-link" href="/log-in">Logout</a>
            <% } else { %>
            <a class="nav-link" href="/sign-up">Sign-up</a>
            <a class="nav-link" href="/log-in">Log-in</a>
            <% } %>
            <a class="nav-link" href="/rentals/rentals">Rentals</a>
          </div>
        </div>
      </div>
    </nav>
    By submitting this assignment I declare that this assignment is my own work
    in accordance with the Seneca Academic Policy. <br />No part of this
    assignment has been copied manually or electronically from any other source
    (including web sites) or distributed to other students.
    <p>&copy Kester Bascillo, kbascillo@myseneca.ca, WEB322 Winter 2023</p>
    <div class="credits">
      <p>
        Credits:
        <a
          href="https://pixabay.com/users/paulbr75-2938186/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3123295"
          >Paul Brennan</a
        >
        <a
          href="https://pixabay.com/users/artisticoperations-4161274/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3248249"
          >F.Muhammad
        </a>
        <a
          href="https://pixabay.com/users/justoceuti-8259709/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4741595"
          >Jose Martinez Justo
        </a>
        <a
          href="https://pixabay.com/users/richardmc-1834381/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3115234"
          >Richard Mcall
        </a>
        <a
          href="https://pixabay.com/photos/cottage-trees-path-trail-house-2955582/"
          >Stanly
        </a>
      </p>
    </div>
    <div class="icons">
      <a href="https://www.facebook.com/">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://twitter.com">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://www.instagram.com">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.youtube.com">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
  </footer>
</div>
