<div class="rental-list">
  <h2>Rentals Listings</h2>
</div>
<div class="images-container3">
  <% rentals.forEach((rental) => { %>
  <div class="rental-listing">
    <%- include('../partials/rental', { rental }) %>
    <div class="clerk-options">
      <button type="button" onclick="window.location.href='/rentals/add'">
        Add
      </button>
      <button
        type="button"
        onclick="window.location.href='/rentals/edit/<%= rental._id %>'"
      >
        Edit
      </button>
      <button
        type="button"
        onclick="window.location.href='/rentals/remove/<%= rental._id %>'"
      >
        Remove
      </button>
    </div>
  </div>
  <% }); %>
</div>
