<% Object.keys(rentalsByCityAndProvince).forEach((cityProvince) => { %>
<div class="cityProv-header">
  <h2><%= cityProvince %></h2>
</div>
<div class="images-container2">
  <% rentalsByCityAndProvince[cityProvince].forEach((rental) => { %> <%-
  include('../partials/rental', { rental }) %> <% }); %>
</div>
<% }); %>
